<%% form_for <%= scope.empty? ? ['@', singular_name].join : ['[', instance_variable_scope('@' + singular_name), ']'].join %> do |f| %>
  <%%= f.error_messages %>

<% for attribute in attributes -%>
  <div class="field">
    <%%= f.label :<%= attribute.name %> %><br />
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  </div>
<% end -%>
  <div class="actions">
    <%%= f.submit %>
  </div>
<%% end %>